*{ 
	margin: 0; 
	padding: 0;
}

h2{
	font-family: 'Nunito', sans-serif;
}
header{
	position: relative; /*Cajas externas*/
	width: 100%;
	height: 50px;
	background-color: black;
}
#logo{
	position: absolute; /*Cajas internas*/
	width: 500px; 
	height: 50px; 
	margin-left: 50px;
	text-align: left;
	background-color: #ccc;
	line-height: 50px;	/*Margen inferior*/
	font-family: 'Quicksand', sans-serif;
	color: white;
	background-color: black;
}
#MenuEncabezado{
	position: relative;
	margin-left: 750px;
	width: 450px;
	height: 50px;
}
.Boton{
	list-style: none;

	float: left;
	width: 100px;
	height: 50px;
	margin-left: 8px;

	line-height: 50px;
	text-align: center;
	color: white;
}
nav{
	position: relative; /*Para cajas externas*/
	width: 100%;
	height: 50px;
	margin: 0 auto;
	top: 10px;
	background-color: white;
}
.Boton2{
	list-style: none;

	float: left; /*Flota a nivel horizontal*/
	width: 16%;
	height: 50px;
	margin-left: 8px;
	
	text-align: center;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	line-height: 40px;	/*Espaciado entre lineas*/

	color: black;
	background-color: white;
}
body{
	background-image: url(imagenes/posgrado.jpg);
	background-attachment: fixed;
	background-position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
article{
	position: relative;
	margin: 0 45px 0 45px;
	height: 2200px;
	top:30px;
	background-color: rgba(251, 252,252, 0.5);
}
/*section#Q{
	position: absolute;
	padding: 20px;
	width: 96.82%;
	height: 400px;
    background-color: rgba(251, 252,252, 0.6);*/


}
input{
	height: 100px;
	width:50px; 
}
p{
   color
}